# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - raphamovies-api-hml

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'  # Só executa quando há mudanças no backend
  workflow_dispatch:

env:
  BACKEND_PATH: backend/RaphaMovies.API

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore
        working-directory: ${{ env.BACKEND_PATH }}

      - name: Build with dotnet
        run: dotnet build --configuration Release --no-restore
        working-directory: ${{ env.BACKEND_PATH }}

      - name: Publish
        run: dotnet publish -c Release -o ./publish --no-build
        working-directory: ${{ env.BACKEND_PATH }}

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ env.BACKEND_PATH }}/publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F7ACB1F08405489B9BE36450229FAC29 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0A186DDA092E435595EFC967B43D31C1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7718A8F2E33F4EAC9EB2406042E8BC73 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'raphamovies-api-hml'
          slot-name: 'Production'
          package: ./publish